@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

:root {
    --cor-fundo: #EBEFF8 ;
    --cor-title:  #8167a9 ;
    --cor-text: branco;
    --cor-fundoAlternativo:  #8167a9;

}

body{
font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
background-color: azure;
margin: 0;
border: 0;
}
.navbar-brand img{
    height: 50px;
    margin: 0px;
    width: auto;
    display: block;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
  }

.container-landingPage{
 background-color: #8167a9;
    
}
.inicial-lp{
   background-color: #8167a9;
    /* width: 1366px; */

 width: 100%;

    background-color: var(--cor-fundoAlternativo);
}
.title-inicial{
    font-size: 60px;
    color: #fff;
    text-align: end;
    padding: 50px 0px;
}
.tela1{
    text-align: end;
}


.tela2-lp{
    background-color: var(--cor-fundo);
}
.tela3-lp{
    background-color: whitesmoke;
}
.tela4-lp{
    background-color: var(--cor-fundo);
}

.tela5-lp{
    background-color: var(--cor-fundoAlternativo);
}

.tela6-lp{
    background-color: var(--cor-fundo);
}

.tela7-lp{
    background-color: var(--cor-fundoAlternativo);
}

/* button */

/* CSS */
.btn-cadastrar {
    align-items: center;
    background-color: rgba(240, 240, 240, 0.26);
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    height: 80px;
    font-size: 16px;
 
  }
  
  .btn-cadastrar:active,
  .btn-cadastrar:hover {
    outline: 0;
  }
  
  .btn-cadastrar:hover {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.19);
  }
  
  @media (min-width: 768px) {
    .btn-cadastrar {
      font-size: 20px;
      min-width: 200px;
      padding: 14px 16px;
    }
  }